Django==1.6.5
Magic-file-extensions==0.3
PAM==0.4.2
Pillow==2.6.1
SecretStorage==2.1.1
Twisted-Core==14.0.2
Twisted-Web==14.0.2
WebSmsComToolkit==1.0.0
apt-xapian-index==0.46
argparse==1.2.1
binwalk==1.0
characteristic==0.1.0
chardet==2.2.1
colorama==0.3.1
command-not-found==0.3
debtagshw==0.1
defer==1.0.6
dirspec==13.10
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
dnspython==1.11.1
gunicorn==19.0.0
html5lib==0.999
httplib2==0.9
idna==0.9
keyring==4.0
launchpadlib==1.10.2
lazr.restfulclient==0.13.3
lazr.uri==1.0.3
lxml==3.3.6
numpy==1.8.2
oauth==1.0.1
oauthlib==0.6.1
oneconf==0.3.7
pdfshuffler==0.6.0
pep8==1.5.7
pexpect==3.2
piston-mini-client==0.7.5
psutil==2.1.1
pyOpenSSL==0.13.1
pyPdf==1.13
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycrypto==2.6.1
pycups==1.9.67
pycurl==7.19.5
pygobject==3.14.0
pyserial==2.6
pysmbc==1.0.14.1
python-apt==0.9.3.10ubuntu1
python-debian==0.1.22
python-ldap==2.4.10
pyxdg==0.25
reportlab==3.1.8
requests==2.3.0
service-identity==1.0.0
sessioninstaller==0.0.0
simplejson==3.5.3
six==1.7.3
software-center-aptd-plugins==0.0.0
tomate==0.3.1
urllib3==1.8.3
vboxapi==1.0
virtualenv==1.11.6
wadllib==1.3.2
wheel==0.24.0
wsgiref==0.1.2
zope.interface==4.1.1
