<!-- HEAD START -->
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fitbit Challenge</title>

    <!-- Bootstrap -->
    <link href="../../fitbitchallenge/static/css/bootstrap.css" rel="stylesheet">
    <link href="../../fitbitchallenge/static/css/material.css" rel="stylesheet">
    <link href="../../fitbitchallenge/static/css/material-wfont.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-success">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)">Fitbit Challenge</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="javascript:void(0)">About</a></li>
          <li><a href="javascript:void(0)">Login</a></li>
        </ul>
      </div>
    </div>
  <!-- HEAD END -->

  <!-- CONTENT START -->




  <!-- CONTENT END -->

  <!-- FOOTER START -->
    <script src="../../fitbitchallenge/static/js/jquery-1.11.1.min.js"></script>
    <script src="../../fitbitchallenge/static/js/material.js"></script>
    <script src="../../fitbitchallenge/static/js/ripples.js"></script>
    <script>
      $(document).ready(function() {
        $.material.init();
      });
    </script>
  </body>
</html>
<!-- FOOTER END -->